# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Build outputs
build/

# iOS
ios/Pods/
ios/.symlinks/

# Android
android/.gradle/

# Logs
*.log

# IDE
.vscode/
.idea/

# Generated
pubspec.lock